    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
    }

    body {
      background-color: #f4f6f8;
      padding: 40px;
    }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 13%;
  background: #09637E;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  z-index: 1000;
  border-radius: 0% 0% 35% 35%;
}


  /* border-radius: 0% 0% 35% 35%; */

    header h1 {
        align-items: center;
      text-align: center;
      margin-bottom: 30px;
      color: #333;
    }
    /* GRID */
    .cards {
        margin-top: 7%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      max-width: 1200px;
    }

    /* CARD */
    .card {
      background-color: #ffffff;
      border-radius: 12px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card:hover {
      transform: translateY(-8px);
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
    }

    .card img {
      width: 100%;
      height: 160px;
      object-fit: cover;
    }

    .card-content {
      padding: 20px;
      text-align: center;
    }

    .card-content h2 {
      font-size: 18px;
      margin-bottom: 10px;
      color: #222;
    }

    .card-content p {
      font-size: 14px;
      color: #666;
      margin-bottom: 15px;
      line-height: 1.4;
    }

    .card-content a {
      display: inline-block;
      padding: 10px 15px;
      background-color: #4f46e5;
      color: #fff;
      text-decoration: none;
      border-radius: 8px;
      font-size: 14px;
      transition: background-color 0.3s ease;
    }

    .card-content a:hover {
      background-color: #3730a3;
    }



    /* OVERLAY */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

/* MODAL */
.modal {
  background: #fff;
  width: 90%;
  max-width: 500px;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

/* MODAL ATIVO */
.modal-overlay.active {
  opacity: 1;
  pointer-events: all;
}

.modal-overlay.active .modal {
  transform: scale(1);
}

/* IMAGEM */
.modal img {
  width: 100%;
  border-radius: 12px;
  margin: 16px 0;
}

/* FECHAR */
.close-modal {
  position: absolute;
  top: 16px;
  right: 20px;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}